html{
    height: 100%;
    background: linear-gradient(rgb(46, 46, 157), rgb(163, 184, 240));
}

.wrapper{
    display:flex;
    align-items: center;
    justify-content: center;
    flex:1;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 90%;
    width: 33%;
    background-color: white;
    padding:5px;
}

.box1{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(177, 0, 0);
}
.box-in-box1{
    display: flex;
    align-items: flex-end;
    width: 85%;
    height: 85%;
    background-color: red;
    
}
.box-in-box-in-box1{
    width: 100%;
    height: 50%;
    background-color: rgb(236, 78, 78);
    
}

.box2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 5%;
    background-color: rgb(221, 206, 1);
}
.box-in-box2 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 85%;
    height: 85%;
    background-color: rgb(242, 255, 0);

}
.box-in-box-in-box2 {
    width: 50%;
    height: 50%;
    background-color: rgb(255, 255, 105);
}

.box3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 182, 12);
}
.box-in-box3 {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    width: 85%;
    height: 85%;
    background-color: rgb(17, 255, 0);

}
.box-in-box-in-box3 {
    width: 50%;
    height: 50%;
    background-color: rgb(122, 250, 102);

}



